<a id='top'></a>
### Table of contents

1. Importing Visualization Libraries and Data

2. [Deriving new variables](#variables)

- [Affordability](#afford)
- [Percent of undernourished people](#percent)
- [Price index](#index)
- [Food basket size](#basket)
- [Annual Price Growth](#growth)

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from scipy import stats
from scipy.stats import pearsonr
import sklearn
from sklearn import preprocessing
from sklearn.preprocessing import scale
from pylab import rcParams
import matplotlib.ticker as mt
from matplotlib.ticker import ScalarFormatter
from fuzzywuzzy import process, fuzz
from datetime import date
from datetime import datetime

In [2]:
%matplotlib inline
rcParams['figure.figsize']=14,7
sns.set_style('whitegrid')

In [3]:
path=r'C:\Users\frauz\Documents\Python Projects\Final Project\Data\Data Prepared' #creating a path

<a id='variables'></a>
# Deriving new variables

[Back to top](#top)

In [4]:
# Importing the data

df_full=pd.read_pickle(os.path.join(path,'data_market_capnocapmerged_no_var.pkl'))

df_full.head()

,iso,date,currency,capital_market,product_name,price_unit,usdprice_unit,year,population,millions_undernourished,country,estim_earnings,year_month,inflation,gdp_pcapita
0,AFG,2000-01-15,AFN,capital,Bread,14.260000,0.304800,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN
1,AFG,2000-01-15,AFN,capital,Wheat,13.750000,0.293900,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN
2,AFG,2000-01-15,AFN,capital,Wheat flour,18.570000,0.396900,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN
3,AFG,2000-01-15,AFN,non_capital,Bread,15.580000,0.332967,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN
4,AFG,2000-01-15,AFN,non_capital,Wheat,11.723333,0.250567,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN

In [5]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193836 entries, 0 to 193835
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso                      193836 non-null  object
 1   date                     193836 non-null  datetime64[ns]
 2   currency                 193836 non-null  object
 3   capital_market           193836 non-null  object
 4   product_name             193836 non-null  object
 5   price_unit               193836 non-null  float64
 6   usdprice_unit            193836 non-null  float64
 7   year                     193836 non-null  int32
 8   population               161482 non-null  float64
 9   millions_undernourished  135049 non-null  float64
 10  country                  193836 non-null  object
 11  estim_earnings           63673 non-null   float64
 12  year_month               193836 non-null  object
 13  inflation                166370 non-null  float64
 14  gdp_pcapita              180133 non-null  float64
dtypes: datetime64[ns](1), float64(7), int32(1), object(6)
memory usage: 22.9+ MB

In [6]:
# Visualizations revealed some very suspicious prices. Such in Yemen in 2016, prices in USD were not recorded accurately. 

# I will calculate prices in USD in Yemen in 2016 based on 0.004 exchange rate 

df_full.loc[(df_full['iso']=='YEM')&(df_full['year']==2016), 'usdprice_unit']=df_full['price_unit']*0.004

df_full[['iso','year','price_unit','product_name','usdprice_unit']][(df_full['iso']=='YEM')&(df_full['usdprice_unit']>1000)]

Empty DataFrame
Columns: [iso, year, price_unit, product_name, usdprice_unit]
Index: []

<a id='afford'></a>
## Affordability

Product Affordability Index: This index is calculated by dividing the average earnings by the price of the product, both in local currency. It quantifies how many units of a particular product a person can afford based on their monthly income.

[Back to top](#top)

In [7]:
# Calculating monthly product affordability index

df_full['affordability_index']=df_full['estim_earnings']/df_full['price_unit']

In [8]:
df_full['affordability_index'].describe()

count    6.367300e+04
mean     3.313157e+04
std      5.771881e+05
min      4.798316e-01
25%      1.318812e+02
50%      2.847500e+02
75%      5.617667e+02
max      2.217459e+07
Name: affordability_index, dtype: float64

In [9]:
df_full[(df_full['country']=='Timor-Leste')&(df_full['estim_earnings'].notnull())]

,iso,date,currency,capital_market,product_name,price_unit,usdprice_unit,year,population,millions_undernourished,country,estim_earnings,year_month,inflation,gdp_pcapita,affordability_index
172595,TLS,2013-01-15,USD,non_capital,Beans,3.051111,3.051111,2013,1161555.0,0.3,Timor-Leste,412.77,2013_01,10.987234,1201.423609,135.285142
172596,TLS,2013-01-15,USD,non_capital,Cassava,0.693333,0.693333,2013,1161555.0,0.3,Timor-Leste,412.77,2013_01,10.987234,1201.423609,595.341346
172597,TLS,2013-01-15,USD,non_capital,Maize,1.139167,1.139167,2013,1161555.0,0.3,Timor-Leste,412.77,2013_01,10.987234,1201.423609,362.343819
172598,TLS,2013-01-15,USD,non_capital,Rice,1.115455,1.115455,2013,1161555.0,0.3,Timor-Leste,412.77,2013_01,10.987234,1201.423609,370.046455
172599,TLS,2013-02-15,USD,non_capital,Beans,2.948889,2.948889,2013,1161555.0,0.3,Timor-Leste,412.77,2013_02,10.987234,1201.423609,139.974755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173467,TLS,2021-12-15,USD,non_capital,Sugar,0.985000,0.985000,2021,1320942.0,0.3,Timor-Leste,257.59,2021_12,NaN,2741.393945,261.512690
173468,TLS,2021-12-15,USD,non_capital,Sweet potatoes,1.041111,1.041111,2021,1320942.0,0.3,Timor-Leste,257.59,2021_12,NaN,2741.393945,247.418356
173469,TLS,2021-12-15,USD,non_capital,Taro,1.023000,1.023000,2021,1320942.0,0.3,Timor-Leste,257.59,2021_12,NaN,2741.393945,251.798631
173470,TLS,2021-12-15,USD,non_capital,Tomatoes,1.589000,1.589000,2021,1320942.0,0.3,Timor-Leste,257.59,2021_12,NaN,2741.393945,162.108244
173471,TLS,2021-12-15,USD,non_capital,Wheat flour,0.983000,0.983000,2021,1320942.0,0.3,Timor-Leste,257.59,2021_12,NaN,2741.393945,262.044761

<a id='percent'></a>
## Percent of undernourished people

Percent of undernourished people is calculated by deviding number of undernourished people by the total population. Since the number of people is recorded in millions, I first need to multiply it by million.

[Back to top](#top)

In [10]:
# Calculating the percentage of undernourished people by country

df_full['%_undernourished']=df_full['millions_undernourished']*1000000/df_full['population']*100

In [11]:
df_full['%_undernourished'].describe()
# considering that we are focusing on the most vulnerable regions, the numbers look logical

count    135049.000000
mean         19.368563
std          12.255154
min           2.415867
25%           9.551492
50%          16.916652
75%          28.013181
max          70.774067
Name: %_undernourished, dtype: float64

<a id='index'></a>
## Price index

Price Index: This value is used for normalized comparison across all prices and currencies. It's calculated by dividing the new price by the base price and then multiplying it by one hundred.

Since different countries have different observation periods, there is no single date when observations for each product across  all countries were made. Therefore, I've decided to use the latest observation for each country are product to determine the base price. 

[Back to top](#top)

In [12]:
# Finding the last (max) observation date for each country, pricetype, product

df_full['base_price_date']=df_full.groupby(['country','capital_market','product_name'])['date'].transform(np.max)

In [13]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193836 entries, 0 to 193835
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso                      193836 non-null  object
 1   date                     193836 non-null  datetime64[ns]
 2   currency                 193836 non-null  object
 3   capital_market           193836 non-null  object
 4   product_name             193836 non-null  object
 5   price_unit               193836 non-null  float64
 6   usdprice_unit            193836 non-null  float64
 7   year                     193836 non-null  int32
 8   population               161482 non-null  float64
 9   millions_undernourished  135049 non-null  float64
 10  country                  193836 non-null  object
 11  estim_earnings           63673 non-null   float64
 12  year_month               193836 non-null  object
 13  inflation                166370 non-null  float64
 14  gdp_pcapita              180133 non-null  float64
 15  affordability_index      63673 non-null   float64
 16  %_undernourished         135049 non-null  float64
 17  base_price_date          193836 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int32(1), object(6)
memory usage: 31.4+ MB

In [14]:
df_full[df_full['base_price_date'].isnull()]

Empty DataFrame
Columns: [iso, date, currency, capital_market, product_name, price_unit, usdprice_unit, year, population, millions_undernourished, country, estim_earnings, year_month, inflation, gdp_pcapita, affordability_index, %_undernourished, base_price_date]
Index: []

In [15]:
#Isolating records that contain base prices

df_base=df_full.loc[df_full['date']==df_full['base_price_date']]

df_base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2248 entries, 271 to 193835
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   iso                      2248 non-null   object
 1   date                     2248 non-null   datetime64[ns]
 2   currency                 2248 non-null   object
 3   capital_market           2248 non-null   object
 4   product_name             2248 non-null   object
 5   price_unit               2248 non-null   float64
 6   usdprice_unit            2248 non-null   float64
 7   year                     2248 non-null   int32
 8   population               484 non-null    float64
 9   millions_undernourished  418 non-null    float64
 10  country                  2248 non-null   object
 11  estim_earnings           238 non-null    float64
 12  year_month               2248 non-null   object
 13  inflation                779 non-null    float64
 14  gdp_pcapita              829 non-null    float64
 15  affordability_index      238 non-null    float64
 16  %_undernourished         418 non-null    float64
 17  base_price_date          2248 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int32(1), object(6)
memory usage: 324.9+ KB

In [16]:
df_base.duplicated().value_counts()

False    2248
dtype: int64

In [17]:
df_base[['country','capital_market','product_name','price_unit']].value_counts()

country      capital_market  product_name  price_unit
Afghanistan  capital         Bread         50.000000     1
Nicaragua    non_capital     Maize         0.288889      1
                             Bread         1.800000      1
                             Cabbage       0.422222      1
                             Cheese        6.155556      1
                                                        ..
Ghana        non_capital     Eggplants     10.257857     1
                             Cowpeas       9.357273      1
                             Cassava       9.461250      1
             capital         Yam           21.665000     1
Zimbabwe     non_capital     Wheat flour   3.000000      1
Length: 2248, dtype: int64

In [18]:
# Merging the new dataframe with the main one to add base price to each record

df_base_price=df_full.merge(df_base[['country','capital_market','product_name','price_unit']], on=['country','capital_market','product_name'])

In [19]:
df_base_price.tail(70)

,iso,date,currency,capital_market,product_name,price_unit_x,usdprice_unit,year,population,millions_undernourished,country,estim_earnings,year_month,inflation,gdp_pcapita,affordability_index,%_undernourished,base_price_date,price_unit_y
193766,ZWE,2021-03-15,USD,capital,Rice,1.1886,1.1886,2021,15993524.0,6.1,Zimbabwe,170.213637,2021_03,98.546105,1773.920411,143.205146,38.140437,2021-10-15,0.9761
193767,ZWE,2021-04-15,USD,capital,Rice,1.1841,1.1841,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_04,98.546105,1773.920411,123.401305,38.140437,2021-10-15,0.9761
193768,ZWE,2021-05-15,USD,capital,Rice,1.0910,1.0910,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_05,98.546105,1773.920411,133.931700,38.140437,2021-10-15,0.9761
193769,ZWE,2021-06-15,USD,capital,Rice,1.0429,1.0429,2021,15993524.0,6.1,Zimbabwe,167.311618,2021_06,98.546105,1773.920411,160.429205,38.140437,2021-10-15,0.9761
193770,ZWE,2021-07-15,USD,capital,Rice,1.0835,1.0835,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_07,98.546105,1773.920411,134.858777,38.140437,2021-10-15,0.9761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193831,ZWE,2020-08-15,USD,capital,Maize,0.3150,0.3150,2020,15669666.0,6.1,Zimbabwe,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,2021-07-15,0.3248
193832,ZWE,2020-09-15,USD,capital,Maize,0.3057,0.3057,2020,15669666.0,6.1,Zimbabwe,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,2021-07-15,0.3248
193833,ZWE,2021-05-15,USD,capital,Maize,0.3447,0.3447,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_05,98.546105,1773.920411,423.903351,38.140437,2021-07-15,0.3248
193834,ZWE,2021-06-15,USD,capital,Maize,0.3265,0.3265,2021,15993524.0,6.1,Zimbabwe,167.311618,2021_06,98.546105,1773.920411,512.439870,38.140437,2021-07-15,0.3248
193835,ZWE,2021-07-15,USD,capital,Maize,0.3248,0.3248,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_07,98.546105,1773.920411,449.875262,38.140437,2021-07-15,0.3248

In [20]:
df_base_price.info() #the number of records is the same

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193836 entries, 0 to 193835
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso                      193836 non-null  object
 1   date                     193836 non-null  datetime64[ns]
 2   currency                 193836 non-null  object
 3   capital_market           193836 non-null  object
 4   product_name             193836 non-null  object
 5   price_unit_x             193836 non-null  float64
 6   usdprice_unit            193836 non-null  float64
 7   year                     193836 non-null  int32
 8   population               161482 non-null  float64
 9   millions_undernourished  135049 non-null  float64
 10  country                  193836 non-null  object
 11  estim_earnings           63673 non-null   float64
 12  year_month               193836 non-null  object
 13  inflation                166370 non-null  float64
 14  gdp_pcapita              180133 non-null  float64
 15  affordability_index      63673 non-null   float64
 16  %_undernourished         135049 non-null  float64
 17  base_price_date          193836 non-null  datetime64[ns]
 18  price_unit_y             193836 non-null  float64
dtypes: datetime64[ns](2), float64(10), int32(1), object(6)
memory usage: 28.8+ MB

In [21]:
df_base_price.duplicated().value_counts() #no duplicates detected

False    193836
dtype: int64

In [22]:
# Dropping base_price_date and renaming price_units

df_base_price.drop(columns='base_price_date', inplace=True)
df_base_price.rename(columns={'price_unit_y':'base_price','price_unit_x':'price_unit'}, inplace=True)

In [23]:
# Calculating price_index

df_base_price['price_index']=df_base_price['price_unit']/df_base_price['base_price']*100

In [24]:
df_base_price['price_index'].describe()

count    193836.000000
mean         75.411841
std         256.749440
min           0.003333
25%          44.765045
50%          69.232101
75%          92.720264
max       80289.617202
Name: price_index, dtype: float64

In [25]:
df_base_price

,iso,date,currency,capital_market,product_name,price_unit,usdprice_unit,year,population,millions_undernourished,country,estim_earnings,year_month,inflation,gdp_pcapita,affordability_index,%_undernourished,base_price,price_index
0,AFG,2000-01-15,AFN,capital,Bread,14.2600,0.3048,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN,NaN,NaN,50.0000,28.520000
1,AFG,2000-02-15,AFN,capital,Bread,13.4900,0.2860,2000,NaN,NaN,Afghanistan,NaN,2000_02,NaN,NaN,NaN,NaN,50.0000,26.980000
2,AFG,2000-03-15,AFN,capital,Bread,11.7600,0.2482,2000,NaN,NaN,Afghanistan,NaN,2000_03,NaN,NaN,NaN,NaN,50.0000,23.520000
3,AFG,2000-04-15,AFN,capital,Bread,12.9200,0.2733,2000,NaN,NaN,Afghanistan,NaN,2000_04,NaN,NaN,NaN,NaN,50.0000,25.840000
4,AFG,2000-05-15,AFN,capital,Bread,16.4400,0.3478,2000,NaN,NaN,Afghanistan,NaN,2000_05,NaN,NaN,NaN,NaN,50.0000,32.880000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193831,ZWE,2020-08-15,USD,capital,Maize,0.3150,0.3150,2020,15669666.0,6.1,Zimbabwe,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,0.3248,96.982759
193832,ZWE,2020-09-15,USD,capital,Maize,0.3057,0.3057,2020,15669666.0,6.1,Zimbabwe,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,0.3248,94.119458
193833,ZWE,2021-05-15,USD,capital,Maize,0.3447,0.3447,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_05,98.546105,1773.920411,423.903351,38.140437,0.3248,106.126847
193834,ZWE,2021-06-15,USD,capital,Maize,0.3265,0.3265,2021,15993524.0,6.1,Zimbabwe,167.311618,2021_06,98.546105,1773.920411,512.439870,38.140437,0.3248,100.523399
193835,ZWE,2021-07-15,USD,capital,Maize,0.3248,0.3248,2021,15993524.0,6.1,Zimbabwe,146.119485,2021_07,98.546105,1773.920411,449.875262,38.140437,0.3248,100.000000

<a id='basket'></a>
## Food basket size

In this context, food basket refers to the number of staple products included in the monitoring by the UN World Food Programme.

[Back to top](#top)

In [26]:
#Calculating the number of products that are monitored in each country

df_base_price['basket_size']=df_base_price.groupby('iso')['product_name'].transform('nunique')
df_base_price.head()

,iso,date,currency,capital_market,product_name,price_unit,usdprice_unit,year,population,millions_undernourished,country,estim_earnings,year_month,inflation,gdp_pcapita,affordability_index,%_undernourished,base_price,price_index,basket_size
0,AFG,2000-01-15,AFN,capital,Bread,14.26,0.3048,2000,NaN,NaN,Afghanistan,NaN,2000_01,NaN,NaN,NaN,NaN,50.0,28.52,9
1,AFG,2000-02-15,AFN,capital,Bread,13.49,0.2860,2000,NaN,NaN,Afghanistan,NaN,2000_02,NaN,NaN,NaN,NaN,50.0,26.98,9
2,AFG,2000-03-15,AFN,capital,Bread,11.76,0.2482,2000,NaN,NaN,Afghanistan,NaN,2000_03,NaN,NaN,NaN,NaN,50.0,23.52,9
3,AFG,2000-04-15,AFN,capital,Bread,12.92,0.2733,2000,NaN,NaN,Afghanistan,NaN,2000_04,NaN,NaN,NaN,NaN,50.0,25.84,9
4,AFG,2000-05-15,AFN,capital,Bread,16.44,0.3478,2000,NaN,NaN,Afghanistan,NaN,2000_05,NaN,NaN,NaN,NaN,50.0,32.88,9

In [27]:
df_base_price['basket_size'].describe()

count    193836.000000
mean         21.663587
std          11.893905
min           1.000000
25%          12.000000
50%          20.000000
75%          29.000000
max          50.000000
Name: basket_size, dtype: float64

<a id='growth'></a>
## Annual Price Growth

This represents the percentage difference between the first and last recorded prices for a given product/country within one year.

[Back to top](#top)

In [28]:
# First, I want to isolate the records with the earliest (min) and latest (max) date for each country, year and product 

df_growth_max=df_full[['country',
                       'capital_market',
                       'date',
                       'year',
                       'product_name']].groupby(['country',
                                                 'capital_market',
                                                 'year',
                                                 'product_name']).agg({'date':np.max})

In [29]:
df_growth_max.reset_index(inplace=True)
df_growth_max.head()

       country capital_market  year product_name       date
0  Afghanistan        capital  2000        Bread 2000-12-15
1  Afghanistan        capital  2000    Livestock 2000-12-15
2  Afghanistan        capital  2000        Wheat 2000-12-15
3  Afghanistan        capital  2000  Wheat flour 2000-12-15
4  Afghanistan        capital  2001        Bread 2001-12-15

In [30]:
df_growth_max.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19189 entries, 0 to 19188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         19189 non-null  object
 1   capital_market  19189 non-null  object
 2   year            19189 non-null  int64
 3   product_name    19189 non-null  object
 4   date            19189 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 749.7+ KB

In [31]:
df_growth_min=df_full[['country',
                       'capital_market',
                       'date',
                       'year',
                       'product_name']].groupby(['country',
                                                 'capital_market',
                                                 'year',
                                                 'product_name']).agg({'date':np.min})

In [32]:
df_growth_min.reset_index(inplace=True)
df_growth_min.head()

       country capital_market  year product_name       date
0  Afghanistan        capital  2000        Bread 2000-01-15
1  Afghanistan        capital  2000    Livestock 2000-05-15
2  Afghanistan        capital  2000        Wheat 2000-01-15
3  Afghanistan        capital  2000  Wheat flour 2000-01-15
4  Afghanistan        capital  2001        Bread 2001-01-15

In [33]:
df_growth_min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19189 entries, 0 to 19188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         19189 non-null  object
 1   capital_market  19189 non-null  object
 2   year            19189 non-null  int64
 3   product_name    19189 non-null  object
 4   date            19189 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 749.7+ KB

In [34]:
#Now I can add prices min_date_price and max_date_price to the dataframes

df_max_price=pd.merge(df_growth_max, df_full[['country',
                                              'capital_market',
                                                   'date',
                                              'year',
                                              'product_name',
                                                   'price_unit']], on=['country',
                                                                       'capital_market',
                                                                       'date',
                                                                       'year',
                                                                       'product_name'])

In [35]:
df_max_price.head()

       country capital_market  year product_name       date  price_unit
0  Afghanistan        capital  2000        Bread 2000-12-15       16.13
1  Afghanistan        capital  2000    Livestock 2000-12-15  1100000.00
2  Afghanistan        capital  2000        Wheat 2000-12-15       13.78
3  Afghanistan        capital  2000  Wheat flour 2000-12-15       15.11
4  Afghanistan        capital  2001        Bread 2001-12-15        9.78

In [36]:
df_max_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19189 entries, 0 to 19188
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         19189 non-null  object
 1   capital_market  19189 non-null  object
 2   year            19189 non-null  int64
 3   product_name    19189 non-null  object
 4   date            19189 non-null  datetime64[ns]
 5   price_unit      19189 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.0+ MB

In [37]:
df_max_price.rename(columns={'price_unit':'max_price'}, inplace=True)

In [38]:
df_min_price=pd.merge(df_growth_min, df_full[['country',
                                              'capital_market',
                                                   'date',
                                              'year',
                                              'product_name',
                                                   'price_unit']], on=['country',
                                                                       'capital_market',
                                                                       'date',
                                                                       'year',
                                                                       'product_name'])
df_min_price.head()

       country capital_market  year product_name       date  price_unit
0  Afghanistan        capital  2000        Bread 2000-01-15       14.26
1  Afghanistan        capital  2000    Livestock 2000-05-15  1075000.00
2  Afghanistan        capital  2000        Wheat 2000-01-15       13.75
3  Afghanistan        capital  2000  Wheat flour 2000-01-15       18.57
4  Afghanistan        capital  2001        Bread 2001-01-15       15.90

In [39]:
df_min_price.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19189 entries, 0 to 19188
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         19189 non-null  object
 1   capital_market  19189 non-null  object
 2   year            19189 non-null  int64
 3   product_name    19189 non-null  object
 4   date            19189 non-null  datetime64[ns]
 5   price_unit      19189 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.0+ MB

In [40]:
df_min_price.rename(columns={'price_unit':'min_price'},  inplace=True)

In [41]:
df_growth_dif=pd.merge(df_max_price[['country','capital_market','year','product_name','max_price']],
                       df_min_price[['country','capital_market','year','product_name','min_price']], on=['country','capital_market','year','product_name'])
df_growth_dif.head()

       country capital_market  year product_name   max_price   min_price
0  Afghanistan        capital  2000        Bread       16.13       14.26
1  Afghanistan        capital  2000    Livestock  1100000.00  1075000.00
2  Afghanistan        capital  2000        Wheat       13.78       13.75
3  Afghanistan        capital  2000  Wheat flour       15.11       18.57
4  Afghanistan        capital  2001        Bread        9.78       15.90

In [42]:
df_growth_dif.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19189 entries, 0 to 19188
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         19189 non-null  object
 1   capital_market  19189 non-null  object
 2   year            19189 non-null  int64
 3   product_name    19189 non-null  object
 4   max_price       19189 non-null  float64
 5   min_price       19189 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.0+ MB

In [43]:
# Calculating % anual growth

df_growth_dif['%_annual_growth']=round((df_growth_dif['max_price']-df_growth_dif['min_price'])/df_growth_dif['min_price']*100, 2)
df_growth_dif.head(30) #though some % are negative, in general the numbers look realistic

,country,capital_market,year,product_name,max_price,min_price,%_annual_growth
0,Afghanistan,capital,2000,Bread,16.13,14.26,13.11
1,Afghanistan,capital,2000,Livestock,1100000.00,1075000.00,2.33
2,Afghanistan,capital,2000,Wheat,13.78,13.75,0.22
3,Afghanistan,capital,2000,Wheat flour,15.11,18.57,-18.63
4,Afghanistan,capital,2001,Bread,9.78,15.90,-38.49
5,Afghanistan,capital,2001,Livestock,1440000.00,1260000.00,14.29
6,Afghanistan,capital,2001,Wheat,4.37,13.71,-68.13
7,Afghanistan,capital,2001,Wheat flour,5.60,15.10,-62.91
8,Afghanistan,capital,2002,Bread,14.43,7.72,86.92
9,Afghanistan,capital,2002,Livestock,2901333.00,1153000.00,151.63
10,Afghanistan,capital,2002,Wheat,8.41,3.83,119.58
11,Afghanistan,capital,2002,Wheat flour,10.50,5.18,102.70
12,Afghanistan,capital,2003,Bread,15.00,12.00,25.00
13,Afghanistan,capital,2003,Wheat,8.38,7.00,19.71
14,Afghanistan,capital,2003,Wheat flour,11.10,9.00,23.33
15,Afghanistan,capital,2004,Bread,17.00,15.00,13.33
16,Afghanistan,capital,2004,Wheat,11.38,8.05,41.37
17,Afghanistan,capital,2004,Wheat flour,13.50,11.00,22.73
18,Afghanistan,capital,2005,Bread,18.50,18.00,2.78
19,Afghanistan,capital,2005,Wheat,12.35,12.30,0.41
20,Afghanistan,capital,2005,Wheat flour,14.70,14.10,4.26
21,Afghanistan,capital,2006,Bread,23.60,18.50,27.57
22,Afghanistan,capital,2006,Wheat,12.68,12.80,-0.94
23,Afghanistan,capital,2006,Wheat flour,13.80,13.70,0.73
24,Afghanistan,capital,2007,Bread,34.30,23.90,43.51
25,Afghanistan,capital,2007,Rice,22.50,17.70,27.12
26,Afghanistan,capital,2007,Wheat,20.32,12.75,59.37
27,Afghanistan,capital,2007,Wheat flour,23.10,13.60,69.85
28,Afghanistan,capital,2008,Bread,50.00,35.90,39.28
29,Afghanistan,capital,2008,Rice,34.50,24.75,39.39

In [44]:
# Now I can add the annual growth % to the main dataframe

df_merged=pd.merge(df_base_price,df_growth_dif[['country',
                                                'capital_market',
                                               'year',
                                                'product_name',
                                               '%_annual_growth']], on=['country',
                                                                        'capital_market',
                                                                        'year',
                                                                        'product_name'], how='left')

In [45]:
df_merged.tail(50)

,iso,date,currency,capital_market,product_name,price_unit,usdprice_unit,year,population,millions_undernourished,...,estim_earnings,year_month,inflation,gdp_pcapita,affordability_index,%_undernourished,base_price,price_index,basket_size,%_annual_growth
193786,ZWE,2021-10-15,USD,capital,Salt,0.7155,0.7155,2021,15993524.0,6.1,...,147.136989,2021_10,98.546105,1773.920411,205.642194,38.140437,0.7155,100.000000,16,-29.18
193787,ZWE,2020-02-15,USD,capital,Sugar,0.9740,0.9740,2020,15669666.0,6.1,...,NaN,2020_02,557.201817,1372.696674,NaN,38.928717,1.5193,64.108471,16,26.13
193788,ZWE,2020-03-15,USD,capital,Sugar,0.9713,0.9713,2020,15669666.0,6.1,...,NaN,2020_03,557.201817,1372.696674,NaN,38.928717,1.5193,63.930758,16,26.13
193789,ZWE,2020-04-15,USD,capital,Sugar,1.4000,1.4000,2020,15669666.0,6.1,...,NaN,2020_04,557.201817,1372.696674,NaN,38.928717,1.5193,92.147700,16,26.13
193790,ZWE,2020-05-15,USD,capital,Sugar,1.4200,1.4200,2020,15669666.0,6.1,...,NaN,2020_05,557.201817,1372.696674,NaN,38.928717,1.5193,93.464095,16,26.13
193791,ZWE,2020-08-15,USD,capital,Sugar,1.2544,1.2544,2020,15669666.0,6.1,...,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,1.5193,82.564339,16,26.13
193792,ZWE,2020-09-15,USD,capital,Sugar,1.1682,1.1682,2020,15669666.0,6.1,...,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,1.5193,76.890673,16,26.13
193793,ZWE,2020-10-15,USD,capital,Sugar,1.2285,1.2285,2020,15669666.0,6.1,...,NaN,2020_10,557.201817,1372.696674,NaN,38.928717,1.5193,80.859606,16,26.13
193794,ZWE,2021-03-15,USD,capital,Sugar,1.4857,1.4857,2021,15993524.0,6.1,...,170.213637,2021_03,98.546105,1773.920411,114.567972,38.140437,1.5193,97.788455,16,2.26
193795,ZWE,2021-04-15,USD,capital,Sugar,1.4801,1.4801,2021,15993524.0,6.1,...,146.119485,2021_04,98.546105,1773.920411,98.722711,38.140437,1.5193,97.419864,16,2.26
193796,ZWE,2021-05-15,USD,capital,Sugar,1.2341,1.2341,2021,15993524.0,6.1,...,146.119485,2021_05,98.546105,1773.920411,118.401657,38.140437,1.5193,81.228197,16,2.26
193797,ZWE,2021-06-15,USD,capital,Sugar,1.2388,1.2388,2021,15993524.0,6.1,...,167.311618,2021_06,98.546105,1773.920411,135.059426,38.140437,1.5193,81.537550,16,2.26
193798,ZWE,2021-07-15,USD,capital,Sugar,1.3485,1.3485,2021,15993524.0,6.1,...,146.119485,2021_07,98.546105,1773.920411,108.357052,38.140437,1.5193,88.757981,16,2.26
193799,ZWE,2021-09-15,USD,capital,Sugar,1.6170,1.6170,2021,15993524.0,6.1,...,163.032618,2021_09,98.546105,1773.920411,100.824130,38.140437,1.5193,106.430593,16,2.26
193800,ZWE,2021-10-15,USD,capital,Sugar,1.5193,1.5193,2021,15993524.0,6.1,...,147.136989,2021_10,98.546105,1773.920411,96.845251,38.140437,1.5193,100.000000,16,2.26
193801,ZWE,2020-05-15,USD,capital,Maize meal,0.6400,0.6400,2020,15669666.0,6.1,...,NaN,2020_05,557.201817,1372.696674,NaN,38.928717,0.6295,101.667990,16,-25.14
193802,ZWE,2020-08-15,USD,capital,Maize meal,0.4304,0.4304,2020,15669666.0,6.1,...,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,0.6295,68.371724,16,-25.14
193803,ZWE,2020-09-15,USD,capital,Maize meal,0.4415,0.4415,2020,15669666.0,6.1,...,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,0.6295,70.135028,16,-25.14
193804,ZWE,2020-10-15,USD,capital,Maize meal,0.4791,0.4791,2020,15669666.0,6.1,...,NaN,2020_10,557.201817,1372.696674,NaN,38.928717,0.6295,76.108022,16,-25.14
193805,ZWE,2021-03-15,USD,capital,Maize meal,0.7726,0.7726,2021,15993524.0,6.1,...,170.213637,2021_03,98.546105,1773.920411,220.312758,38.140437,0.6295,122.732327,16,-18.52
193806,ZWE,2021-04-15,USD,capital,Maize meal,0.7697,0.7697,2021,15993524.0,6.1,...,146.119485,2021_04,98.546105,1773.920411,189.839529,38.140437,0.6295,122.271644,16,-18.52
193807,ZWE,2021-05-15,USD,capital,Maize meal,0.5036,0.5036,2021,15993524.0,6.1,...,146.119485,2021_05,98.546105,1773.920411,290.149891,38.140437,0.6295,80.000000,16,-18.52
193808,ZWE,2021-06-15,USD,capital,Maize meal,0.5289,0.5289,2021,15993524.0,6.1,...,167.311618,2021_06,98.546105,1773.920411,316.338850,38.140437,0.6295,84.019063,16,-18.52
193809,ZWE,2021-07-15,USD,capital,Maize meal,0.5378,0.5378,2021,15993524.0,6.1,...,146.119485,2021_07,98.546105,1773.920411,271.698559,38.140437,0.6295,85.432883,16,-18.52
193810,ZWE,2021-09-15,USD,capital,Maize meal,0.5910,0.5910,2021,15993524.0,6.1,...,163.032618,2021_09,98.546105,1773.920411,275.858914,38.140437,0.6295,93.884035,16,-18.52
193811,ZWE,2021-10-15,USD,capital,Maize meal,0.6295,0.6295,2021,15993524.0,6.1,...,147.136989,2021_10,98.546105,1773.920411,233.736282,38.140437,0.6295,100.000000,16,-18.52
193812,ZWE,2020-05-15,USD,capital,Oil,2.4667,2.4667,2020,15669666.0,6.1,...,NaN,2020_05,557.201817,1372.696674,NaN,38.928717,2.4762,99.616348,16,-35.25
193813,ZWE,2020-08-15,USD,capital,Oil,1.5498,1.5498,2020,15669666.0,6.1,...,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,2.4762,62.587836,16,-35.25
193814,ZWE,2020-09-15,USD,capital,Oil,1.5893,1.5893,2020,15669666.0,6.1,...,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,2.4762,64.183022,16,-35.25
193815,ZWE,2020-10-15,USD,capital,Oil,1.5971,1.5971,2020,15669666.0,6.1,...,NaN,2020_10,557.201817,1372.696674,NaN,38.928717,2.4762,64.498021,16,-35.25
193816,ZWE,2021-03-15,USD,capital,Oil,2.0800,2.0800,2021,15993524.0,6.1,...,170.213637,2021_03,98.546105,1773.920411,81.833479,38.140437,2.4762,83.999677,16,19.05
193817,ZWE,2021-04-15,USD,capital,Oil,2.0722,2.0722,2021,15993524.0,6.1,...,146.119485,2021_04,98.546105,1773.920411,70.514181,38.140437,2.4762,83.684678,16,19.05
193818,ZWE,2021-05-15,USD,capital,Oil,1.8681,1.8681,2021,15993524.0,6.1,...,146.119485,2021_05,98.546105,1773.920411,78.218235,38.140437,2.4762,75.442210,16,19.05
193819,ZWE,2021-06-15,USD,capital,Oil,1.9369,1.9369,2021,15993524.0,6.1,...,167.311618,2021_06,98.546105,1773.920411,86.381134,38.140437,2.4762,78.220661,16,19.05
193820,ZWE,2021-07-15,USD,capital,Oil,2.0169,2.0169,2021,15993524.0,6.1,...,146.119485,2021_07,98.546105,1773.920411,72.447561,38.140437,2.4762,81.451417,16,19.05
193821,ZWE,2021-09-15,USD,capital,Oil,2.4372,2.4372,2021,15993524.0,6.1,...,163.032618,2021_09,98.546105,1773.920411,66.893410,38.140437,2.4762,98.425006,16,19.05
193822,ZWE,2021-10-15,USD,capital,Oil,2.4762,2.4762,2021,15993524.0,6.1,...,147.136989,2021_10,98.546105,1773.920411,59.420479,38.140437,2.4762,100.000000,16,19.05
193823,ZWE,2020-08-15,USD,capital,Beans,1.8512,1.8512,2020,15669666.0,6.1,...,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,4.3687,42.374162,16,3.53
193824,ZWE,2020-09-15,USD,capital,Beans,2.1028,2.1028,2020,15669666.0,6.1,...,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,4.3687,48.133312,16,3.53
193825,ZWE,2020-10-15,USD,capital,Beans,1.9165,1.9165,2020,15669666.0,6.1,...,NaN,2020_10,557.201817,1372.696674,NaN,38.928717,4.3687,43.868885,16,3.53
193826,ZWE,2021-05-15,USD,capital,Beans,2.6947,2.6947,2021,15993524.0,6.1,...,146.119485,2021_05,98.546105,1773.920411,54.224769,38.140437,4.3687,61.681965,16,62.12
193827,ZWE,2021-06-15,USD,capital,Beans,1.9395,1.9395,2021,15993524.0,6.1,...,167.311618,2021_06,98.546105,1773.920411,86.265335,38.140437,4.3687,44.395358,16,62.12
193828,ZWE,2021-07-15,USD,capital,Beans,2.3384,2.3384,2021,15993524.0,6.1,...,146.119485,2021_07,98.546105,1773.920411,62.486951,38.140437,4.3687,53.526221,16,62.12
193829,ZWE,2021-09-15,USD,capital,Beans,3.3950,3.3950,2021,15993524.0,6.1,...,163.032618,2021_09,98.546105,1773.920411,48.021390,38.140437,4.3687,77.711905,16,62.12
193830,ZWE,2021-10-15,USD,capital,Beans,4.3687,4.3687,2021,15993524.0,6.1,...,147.136989,2021_10,98.546105,1773.920411,33.679811,38.140437,4.3687,100.000000,16,62.12
193831,ZWE,2020-08-15,USD,capital,Maize,0.3150,0.3150,2020,15669666.0,6.1,...,NaN,2020_08,557.201817,1372.696674,NaN,38.928717,0.3248,96.982759,16,-2.95
193832,ZWE,2020-09-15,USD,capital,Maize,0.3057,0.3057,2020,15669666.0,6.1,...,NaN,2020_09,557.201817,1372.696674,NaN,38.928717,0.3248,94.119458,16,-2.95
193833,ZWE,2021-05-15,USD,capital,Maize,0.3447,0.3447,2021,15993524.0,6.1,...,146.119485,2021_05,98.546105,1773.920411,423.903351,38.140437,0.3248,106.126847,16,-5.77
193834,ZWE,2021-06-15,USD,capital,Maize,0.3265,0.3265,2021,15993524.0,6.1,...,167.311618,2021_06,98.546105,1773.920411,512.439870,38.140437,0.3248,100.523399,16,-5.77
193835,ZWE,2021-07-15,USD,capital,Maize,0.3248,0.3248,2021,15993524.0,6.1,...,146.119485,2021_07,98.546105,1773.920411,449.875262,38.140437,0.3248,100.000000,16,-5.77

In [46]:
df_merged['%_annual_growth'].isnull().sum() #all

0

In [47]:
df_merged.info() #number of records remained the same

<class 'pandas.core.frame.DataFrame'>
Int64Index: 193836 entries, 0 to 193835
Data columns (total 21 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso                      193836 non-null  object
 1   date                     193836 non-null  datetime64[ns]
 2   currency                 193836 non-null  object
 3   capital_market           193836 non-null  object
 4   product_name             193836 non-null  object
 5   price_unit               193836 non-null  float64
 6   usdprice_unit            193836 non-null  float64
 7   year                     193836 non-null  int32
 8   population               161482 non-null  float64
 9   millions_undernourished  135049 non-null  float64
 10  country                  193836 non-null  object
 11  estim_earnings           63673 non-null   float64
 12  year_month               193836 non-null  object
 13  inflation                166370 non-null  float64
 14  gdp_pcapita              180133 non-null  float64
 15  affordability_index      63673 non-null   float64
 16  %_undernourished         135049 non-null  float64
 17  base_price               193836 non-null  float64
 18  price_index              193836 non-null  float64
 19  basket_size              193836 non-null  int64
 20  %_annual_growth          193836 non-null  float64
dtypes: datetime64[ns](1), float64(12), int32(1), int64(1), object(6)
memory usage: 31.8+ MB

In [48]:
df_merged.duplicated().value_counts()

False    193836
dtype: int64

In [49]:
df_merged['product_name'].replace('Shrimp','Shrimps', inplace=True)

In [50]:
df_merged[df_merged['product_name']=='Shrimps']['country'].value_counts()

Gambia, The    80
Philippines    69
Benin          38
Name: country, dtype: int64

In [51]:
df_merged[df_merged['capital_market']=='non-capital']

Empty DataFrame
Columns: [iso, date, currency, capital_market, product_name, price_unit, usdprice_unit, year, population, millions_undernourished, country, estim_earnings, year_month, inflation, gdp_pcapita, affordability_index, %_undernourished, base_price, price_index, basket_size, %_annual_growth]
Index: []

[0 rows x 21 columns]

In [55]:
df_merged['capital_market'].value_counts()

non_capital    121730
capital         72106
Name: capital_market, dtype: int64

In [52]:
# Removing columns that I won't need

df_for_tableau=df_merged.drop(columns=['base_price','year','year_month'])

In [53]:
# Exporting data for further analysis. Final dataframe: 2164814 records, 21 columns

df_merged.to_pickle(os.path.join(path,'capnoncap_market_level_data_final.pkl'))
df_for_tableau.to_csv(os.path.join(path,'capnoncap_market_level_data_final.csv'))